/node_modules
/public/hot
/public/storage
/public/assets
/public/bootstrap
/public/plugins
/public/images/*
!public/images/avatar.png
!public/images/avatar1.png
!public/images/fnb.jpg
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
